@model recepTour.Models.Recipe
@inject UserManager<IdentityUser> userManager
@inject RecepTourContext context

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Difficulty level
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiffLevel.Description)
        </dd>
        <dt class="col-sm-2">
            Made by
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRecipes.First().User.Nickname)
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        @foreach (var item in Model.RecipeGroceries.Select((value, i) => new { i, value }))
        {
            @if (item.i != 0)
            {
                <dt class="col-sm-2">
                </dt>
            }
            <dd class="col-sm-10">
                • @Html.DisplayFor(modelItem => item.value.Amount) @Html.DisplayFor(modelItem => item.value.Grocery.Name)
            </dd>
        }
        <dt class="col-sm-2">
            Steps
        </dt>
        @foreach (var item in Model.RecipeSteps.Select((value, i) => new { i, value }))
        {
            @if (item.i != 0)
            {
                <dt class="col-sm-2">
                </dt>
            }
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.value.StepNumber).
                @Html.DisplayFor(modelItem => item.value.Description)
            </dd>
        }
        @if (Model.Pictures.Count != 0){
            <dt class="col-sm-2">
                Photo
            </dt>
            <dd class="col-sm-10">
                @{ 
                    var pk = "data:image/jpeg;base64," + @Model.Pictures.First().Url;
                        <img src=@pk width="200" height="200">

                }
            </dd>
         }
        <p></p>

    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && Int32.Parse(userManager.FindByNameAsync(User.Identity.Name).Result.Id) == context.UserRecipes.Where(c => c.RecipeId == Model.Id).FirstOrDefault().UserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <em> |</em>
    }
</div>
