@model IEnumerable<recepTour.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Create New</a>
    }
</p>


<form asp-controller="Recipes" asp-action="Index" method="get">
    <p>
        Search by title: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
        <input type="submit" asp-controller="Recipes" asp-action="Index" value="Reset" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Difficulty level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiffLevel.Description)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <em> |</em>
                } 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.Identity.IsAuthenticated)
                {
                <em> | </em> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
